@model GestaoMais.Web.Controllers.Pessoa.ViewModel

@{
    ViewData["Title"] = "Edit";
}



<h4>Pessoa</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Pessoa.Nome" class="control-label"></label>
                <input asp-for="Pessoa.Nome" class="form-control" />
                <span asp-validation-for="Pessoa.Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pessoa.CpfCnpj" class="control-label"></label>
                <input asp-for="Pessoa.CpfCnpj" class="form-control" />
                <span asp-validation-for="Pessoa.CpfCnpj" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pessoa.Rg" class="control-label"></label>
                <input asp-for="Pessoa.Rg" class="form-control" />
                <span asp-validation-for="Pessoa.Rg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pessoa.DataNascimento" class="control-label"></label>
                <input asp-for="Pessoa.DataNascimento" class="form-control" />
                <span asp-validation-for="Pessoa.DataNascimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pessoa.NacionalidadeId" class="control-label"></label>
                <select asp-for="Pessoa.NacionalidadeId" class="form-control" asp-items="ViewBag.NacionalidadeId"></select>
                <span asp-validation-for="Pessoa.NacionalidadeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pessoa.SexoId" class="control-label"></label>
                <select asp-for="Pessoa.SexoId" class="form-control" asp-items="ViewBag.SexoId"></select>
                <span asp-validation-for="Pessoa.SexoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pessoa.TipoPessoaId" class="control-label"></label>
                <select asp-for="Pessoa.TipoPessoaId" class="form-control" asp-items="ViewBag.TipoPessoaId"></select>
                <span asp-validation-for="Pessoa.TipoPessoaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pessoa.Logradouro" class="control-label"></label>
                <input asp-for="Pessoa.Logradouro" class="form-control" />
                <span asp-validation-for="Pessoa.Logradouro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pessoa.Bairro" class="control-label"></label>
                <input asp-for="Pessoa.Bairro" class="form-control" />
                <span asp-validation-for="Pessoa.Bairro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pessoa.Municipio" class="control-label"></label>
                <input asp-for="Pessoa.Municipio" class="form-control" />
                <span asp-validation-for="Pessoa.Municipio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pessoa.Cep" class="control-label"></label>
                <input asp-for="Pessoa.Cep" class="form-control" />
                <span asp-validation-for="Pessoa.Cep" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pessoa.Numero" class="control-label"></label>
                <input asp-for="Pessoa.Numero" class="form-control" />
                <span asp-validation-for="Pessoa.Numero" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Pessoa.Ativo" /> @Html.DisplayNameFor(model => model.Pessoa.Ativo)
                </label>
            </div>
            <input type="hidden" asp-for="Pessoa.Id" />

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-md-4">
        <p>
            <a class="btnAddNew" asp-controller="PessoaTelefones" asp-route-id="@Model.Pessoa.Id" asp-action="Create">Adicionar Telefone</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Tipo
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PessoaTelefone.Ddd)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PessoaTelefone.Numero)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PessoaTelefone.Principal)
                    </th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ListPessoaTelefone)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.TipoTelefone.Descricao)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Ddd)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Numero)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Principal)
                        </td>

                        <td>
                            <a asp-controller="PessoaTelefones"  asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-controller="PessoaTelefones" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>

    <div class="col-md-4">

        <p>
            <a class="btnAddNew" asp-controller="PessoaEmails" asp-route-id="@Model.Pessoa.Id" asp-action="Create">Adicionar Email</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.PessoaEmails.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PessoaEmails.Principal)
                    </th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ListPessoaEmail)
                {
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Principal)
                        </td>

                        <td>
                            <a asp-controller="PessoaEmails" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-controller="PessoaEmails" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>

<div>
    <a asp-action="Index">Visualizar lista de registros</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
